* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body,
html {
  font-size: 15pt;
  display: grid;
  height: 100%;
  width: 100%;
  place-content: center;
}

#container {
  background-color: #000000;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  display: grid;
}

.subContainers {
  height: 95%;
  width: 95%;
  border-radius: 50%;
  display: grid;
  place-self: center;
}

#subContainer1 {
  background: #0F98D3;
}

.container2 {
  background-color: #4F98D3;
}

/* Immediate speed reading container */
#main {
  text-align: center;
  background-color: darkslategrey;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  display: grid;
  place-self: center;
  place-content: center;
  color: white;
  user-select: none;
}

/* speed reading */
#speed {
  font-size: 3rem;
}

/* pedals container */
#pedals {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  height: auto;
  padding: 0.5rem;
  gap: 1rem;
  margin-top: 3rem;
  background-color: #D4D4D8;
}

/* both pedals */
.pedals {
  height: 100%;
  display: grid;
  place-content: center;
  user-select: none;
}

/* brake pedal */
#brake {
  background-color: rgba(1, 0, 0, .3);
  color: rgba(1, 0, 0, .5);
  clip-path: polygon(0 0,
      100% 0,
      100% 45%,
      90% 100%,
      10% 100%,
      0 45%);
  border-radius: 10px 10px 25px 25px;
  width: 6rem;
  height: 5rem;
}

/* gas pedal */
#gas {
  background-color: rgba(1, 0, 0, .3);
  color: rgba(1, 0, 0, .5);
  width: 3.3rem;
  height: 6rem;
  clip-path: polygon(0 0,
      100% 0,
      100% 80%,
      75% 100%,
      0 100%);
  border-radius: 9px;
}

/* Car moving from rest */
.moving {
  background: lime;
}

/* Accelerating above speed limit */
.speeding {
  background: red;
  animation: warn 1.6s infinite ease-in-out alternate;

}

/* Decelerating to speed limit */
.slowing {
  background: #14E907;
  animation: calm 1s ease alternate;
}

/* speed warning animation */
@keyframes warn {
  0% {
    background: red;
  }

  5% {
    background: red;
  }

  95% {
    background: white;
  }

  100% {
    background: white;
  }
}


/* deactivating speed warning animation */
@keyframes calm {
  100% {
    background: #14E907;
  }
}
